/*CSS MAIN*/

/*CSS HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
    background-color: #f0f0f0;
}

.logo {
    height: 50px;
}

header p {
    margin: 0px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.user-icon {
    font-size: 30px;
    color: #666;
}


/* ESTILOS DEL SECTION BIENVENIDA */

.bienvenida {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; 
    background-color: var(--bienvenida-bg); 
    background-image: url('../assets//foto-home-page.jpg');  
    background-size: cover;
    background-position: center;
    background-color: rgba(75, 0, 130, 0.8);  
    background-blend-mode: overlay;
    color: white;
  }
  
  .bienvenida button {
    padding: 18px 60px;  
    margin-top: 30px;  
    font-size: 16px;  
    color: #fff;  
    background-color: #4b0082;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;  
  }

  .bienvenida button:hover {  
    background-color: #3a0066; 
  }

  .h1-bienvenida{
    font-size: 50px;
  }
  
  .p-bienvenida{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  /*CSS SECTION 1*/
  .section-1{
    padding-left: 54px;
    padding-right: 54px;
  }

  .section-1 h2{
    font-size: 28px;
    font-weight: 500;
  }

  .section-1 p{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  /* CSS SECTION 2 */
  .section-2 {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-2 h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left;
  /* Reinicia otros estilos que puedan estar afectando la alineación */
  margin-left: 0;
  padding-left: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
  width: calc(50% - 40px);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.icon{
    font-size: 2em;
    color: #4b0082;
}

.service h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service p {
    font-size: 1em;
    text-align: left;
}

/*CSS CARROUSEL*/

.section-3{
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}
.carrousel{
  overflow: hidden ;
  width: 60%;

}
.wrap{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  justify-items: stretch;
  animation: slide 30s linear infinite;
  column-gap: 9px;
}
.wrap img {
    height: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


@keyframes slide{
  to{
    translate: calc(-4 * 250px);
  }
}